venv/
lightning_logs/
__pycache__/
data
results
obsolete/


*.pkl
*.csv
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.lof
*.lot
*.out
*.run.xml
*.synctex.gz
*.toc
*.prof
*.png


!tfm-escrito/assets/*.png